body{
    background-color: rgb(81, 41, 118);
    width: 500px;
    margin: auto;
}
.calculadora{
    font-size: 25px;
    font-weight: bold;
}

.botao{
    border: 1px solid black;
    padding: 2%;
}
.botao:hover{
    background-color: rgb(81, 41, 118);
    color: aliceblue;
    transition: 0.2s;
}

.resultado{
    border: 1px solid black;
    padding: 2%;
    text-align: end;
    background-color: aliceblue;
}